nav { background-color:darkblue;
    padding: 10px;

}
nav a {
    color:white;
    display:block;
    padding:20px
}

h1{
    color:rgb(138, 138, 200);
}
img {
    width: 150px; ;
    height: auto;
    border: 1px solid balck;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 10px;
}